# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Cache
.cache
.parcel-cache

# Logs
*.log

# Environment variables
.env
.env.local
.env*.local

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# Public assets
public

